@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    main h1 {
        text-align: left;
        padding-left: 10px;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }

    .navigation ul {
        display: flex;  
        gap: 1rem;
    }

    .navigation a {
        border: none;
    }

    #cards.list .business-card {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 2fr;
        text-align: left;
        gap: 5px;
        margin: 2px;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}