@media (min-width: 1024px) {
    header, main, footer {
        max-width: 1200px;
    }

    .hero h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .section {
        margin: 30px;
        gap: 30px;
    }

    .cards {
        gap: 30px;
    }

    .activity-layout {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .activities {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 1 / 3;
    }

    form {
        grid-column: 3 / 4;
    }
}