/*************** Site Wide ********************/

:root {
    --primary-color: #591733;
    --secondary-color: #8C264F;
    --font-color: #2B2325;
    --secondary-font-color: #FBEAEA;;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Marcellus", serif;
    color: var(--font-color);
}

h2 {
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
    text-align: center;
    padding: 5px;
}


/******************** Header ********************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #DDD;
    column-gap: 8px;
    background-color: var(--primary-color);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    align-self: center;
}

/************** Hamburger Navigation ***************/

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--secondary-font-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\2715";
}

/**************** Navigation ****************/
.navigation {
    display: none;
    font-weight: 600;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--font-color);
    text-decoration: none;
    border-bottom: solid 1px #DDD;
}

.navigation li.current {
    background-color: #EEE;
}

.navigation a:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
}

/******************* Main ****************/
main {
    display: grid;
    column-gap: 10px;
    padding: 5px;
}

main h1 {
    grid-column: 1 / -1;
}

main img {
    display: block;
    margin: 0 auto;
    padding: 5px;
    border-radius: 15px;
}

section {
    background-color: var(--secondary-font-color);
    margin-bottom: 10px;
}

section.courses {
    grid-column: 1 / -1;
    background-color: transparent;
}

.course-card {  
    background-color: var(--secondary-font-color);
    padding: 5px;
    text-align: center;
    border: solid 1px var(--font-color);
    border-radius: 10px;
    font-size: small;
}

.course-card.incomplete {
    background-color: #DDD;
}

p {
    text-align: center;
    padding: 10px;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.filters button {
    flex: 1;
    margin: 10px;
    font-size: large;
    font-weight: 600;
    padding: 5px;
    border: solid 1px var(--font-color);
    border-radius: 8px;
}

.filters button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-font-color);
}

dialog {
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

dialog h3 {
    padding: .65rem;
}


dialog p {
    text-align: left;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    border: 1px solid rgb(0 0 0 / 10%);
}

/***************** Footer ****************/
footer {
    background-color: #EEE;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #CCC solid 1px;
    border-radius: 4px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--secondary-font-color);
}